*.idb
*.ilk
*.lib
*.log
*.obj
*.opensdf
*.pdb
*.sdf
*.suo
*.tlog
*.a
*.o
*.cache
*~
*.asv
*.aux
*.synctex
*.dvi
*.blg
*.bbl
*.out
*.tcp
*.exe
build/*
install/log.txt
install/TestAPI*
install/TestConverter*
install/Converter*
CMakeLists.txt.user
*.cmake
CMakeFiles/
Makefile
